<section class="goals-container">
  <header class="section-header">
    <div class="header-content">
      <div class="title-group">
        <h2>Mis Metas</h2>
        <p>Visualiza tus objetivos a corto, mediano y largo plazo.</p>
      </div>
      <a routerLink="/goals/new" class="btn-add">
        <mat-icon fontIcon="add"></mat-icon>
        Nueva Meta
      </a>
    </div>
  </header>

  <div class="grid-layout">
    @for (goal of goals(); track goal.id) {
    <article class="goal-card" [class.paused]="goal.status === 'pausada'" [routerLink]="['/goals', goal.id]"
      style="cursor: pointer;">

      <div class="card-header">
        <span class="badge {{ goal.type }}">{{ goal.type | titlecase }}</span>
        <div class="header-actions">
          <span class="horizonte">{{ goal.horizon | titlecase }}</span>
          <button class="btn-icon-danger" (click)="onDeleteGoal($event, goal)" title="Eliminar Meta">
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>

      <h3>{{ goal.title }}</h3>

      <div class="progress-section">
        <div class="progress-info">
          <span>Progreso</span>
          <span>{{ goal.progress }}%</span>
        </div>
        <div class="progress-bar-bg">
          <div class="progress-bar-fill" [style.width.%]="goal.progress"></div>
        </div>
      </div>

      <div class="card-footer">
        <span class="status-indicator {{ goal.status }}">
          {{ goal.status | titlecase }}
        </span>
      </div>

    </article>
    } @empty {
    <div class="empty-state">
      <p>No tienes metas definidas aún.</p>
    </div>
    }
  </div>
</section>